<app-navbar></app-navbar>
<!-- <body> -->
<!-- <div class="contact-us">
    <form>
      <input name="customerEmail" placeholder="title" type="text" />
      <input name="customerPhone"  placeholder="description" type="text" />
     <div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>
      <button type="button"> Add </button>
    </form>
  </div> -->
  
  <div style="text-align: center">
    <form>      
      <div>
        <input type="file" name="image" (change)="selectImage($event)" />
      </div>
      <br>
      <div>
        <button type="submit" (click)="onSubmit()">Upload</button>
      </div>
    </form>
  </div>

<!-- <hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>
<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">
    </div>
</div>
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div> -->
 
<!-- </body> -->
<!-- <div style='height : 50px; background-image: url("https://st2.depositphotos.com/8187094/12090/i/950/depositphotos_120903234-stock-photo-open-book-hardback-books-on.jpg");'
></div> -->

